# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

**/.DS_Store

.vscode

deploy
local

.idea
__debug*

# Binance Academy files
binance_academy_markdown/
binance_academy_all_pages copy.json
binance_academy_all_pages.json
binance_academy_cleaned.json
loadba.py
modify_markdown_files.py
format_binance_academy.py
fix_file_extensions.py
fix_file_extensions_properly.py

# OKX Academy files
okx_academy_markdown/

# Markdown files directories
md/
optimized_files/

# .github/baa directory
.github/baa/
web/app/src/app/layout.tsx
loadok.py
.gitignore
t.txt
crawl_okx_academy.py
t_formatted.txt
t.txt
